@import "variables";
@import "navigation";
@import "booking";
@import "section";
@import "panel";
@import "pair";
@import "table";
@import "contact";

.home {
  font-family: 'Open Sans', sans-serif;
  color: $c__black;

  .footer {
  	width: 100%;
  	height: 20px;
  	background-color: $c__purple--dark;
  }
}
