@import "variables";

.nav {
  .nav__topbar {
    background-color: black;
    height: $s__navbarnotif-height;
    text-align: center;

    .nav__topbar--text {
      color: $c__grey--light;
      line-height: $s__navbarnotif-height;

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }

        &:visited {
          color: white;
        }
      }
    }

    @media (max-width: $s__breakpoint--small) {
      padding-left: 5px;
      text-align: left;

      .nav__topbar--text {
        font-size: 14px;
      }
    }
  }

  .nav__menu {
    width: 100%;
    height: $s__navbar-height;
    background: linear-gradient(to right, purple, #AF268B, red);
    
    .nav__logo--wrapper {
      width: 210px;
      margin-right: 30px;
      display: inline-block;
      float: left;
      height: $s__navbar-height;

      .nav__logo {
        height: $s__navbar-height - 10;
        padding: 5px;
        width: 100%;
      }
    }

    .menuIcon {
      display: none;
      width: 100%;
      text-align: center;

      a { 
        text-decoration: none;

        &:visited {
          color: white;
        }

        &:hover {
          transition: color 250ms;
          color: black;
        }
      }
    }

    .nav__links {
      width: 65%;
      max-height: $s__navbar-height;
      display: inline-block;
      float: left;

      .nav__link {
        width: 40px;
        color: $c__white;
        line-height: $s__navbar-height;
        height: $s__navbar-height;
        display: inline;
        padding-right: 25px;
        
        a { 
          text-decoration: none;

          &:visited {
            color: white;
          }

          &:hover {
            transition: color 250ms;
            color: black;
          }
        }
        &.small { font-size: 12px; }
      }
    }

    .nav__sign {
      width: 150px;
      display: inline-block;
      float: right;

      .signin, .signup {
        width: 40px;
        font-size: 12px;
        color: $c__white;
        line-height: $s__navbar-height;
        height: $s__navbar-height;
        display: inline;
        padding-right: 25px;

        &:hover {
          transition: color 250ms;
          color: black;
          cursor: pointer;
        }
      }
    }
    @media (max-width: $s__breakpoint--large) {
      .nav__logo--wrapper, .nav__sign {
        display: none
      }

      .nav__links {
        width: 100%;
        text-align: center;
        padding-left: 10px; 
      }
    }
    @media (max-width: $s__breakpoint--small) {
      overflow: hidden;
      transition: height 0.5s;
      
      .nav__logo--wrapper, .nav__sign {
        display: none
      }

      .nav__links {
        padding-left: 0px;

        .nav__link {
          margin-top: 5px;
          display: block;
          text-align: center;
          width: 100%;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &.nav__menu--open {
        height: 590px;
      }

      .menuIcon {
        height: $s__navbar-height;
        background: linear-gradient(to right, purple, #AF268B, red);
        display: inline-block;

        a {
          line-height: $s__navbar-height;
        }
      }
    }
  }
}