@import "variables";

.panel--container {
  height: auto;
  background-color: $c__grey--light;
  text-align: center;

  .panel {
    vertical-align: top;
    display: inline-block;
    width: 13%;
    height: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 20px;
    margin-right: 20px;

    .panel__title {
      height: 40px;
      color: $c__purple--dark;
      font-weight: 800;
    }


    .panel__image--wrapper {
      width: 80%;
      margin: 0 auto;

      .panel__image {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    .panel__text {
      height: 150px;
      padding: 10px;
      font-size: 12px;
      line-height: 1.4;
    }

    .panel__button {
      width: 150px;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      border: 1px solid $c__grey;
      color: black;
      margin-top: 20px;
      font-weight: 800;
      font-size: 14px;
    }

    &:hover {
      cursor: pointer;

      .panel__button {
        border: 1px solid $c__purple--dark;
      }
    }

    @media (max-width: 1000px) {
      width: 100%;
      display: block;
      border-bottom: 1px solid white;
      margin: 0 auto;

      .panel__image--wrapper {
        width: 15%;
        min-width: 150px;

        .panel__image {
          padding: 0;
        }
      }

      .panel__title {
        padding-top: 10px;
      }

      .panel__text {
        margin: 0 auto;
        width: 90%;
        height: auto;
        font-size: 16px;
        padding: 0;
        padding-bottom: 20px;
      }

      .panel__button {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }
}